<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#1a120b">

    <meta name="description" content="application to find the best restaurant recommendation in Indonesians" />
    <link rel="icon" href="./favicon.png">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="./app.webmanifest">
    <title>Find Resto</title>
    <!-- Icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
    <a href="#main" class="skip-link">Skip to Content ?</a>
    <header>
        <nav-bar></nav-bar>
    </header>

    <main tabindex="0" id="main"></main>

    <footer tabindex="0">
        <p>Copyright 2023 - Find Resto.</p>
    </footer>
</body>

</html>